*{padding: 0;margin: 0;}
.clear::after{content: ""; clear: both; display: block;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.img{ max-width: 100%;}
.text-right{
    text-align: right;}
.left{ float: left;}
.right{ float: right;}
.a{text-decoration:none;}
.mid-content{
    max-width: 1024px;
     margin: auto;}
/* begain main css */
body,h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Roboto', sans-serif;
}
/* header-saction */
.header-left{
    

}
.header-left img{
    width: 100px;
    margin: 5px;
    
    

}
.header{
    background: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;

}
    

.header-right{
    width: 70%;
}
    
.header-right ul li{
    display: inline-block;
}
.header-right ul li a{
    display: block;
    text-decoration: none;
    padding: 0px 20px;
    line-height: 70px;
    color: black;

}
.header-right ul li a:hover{
    background-color: ghostwhite;
}
/* banner-saction */
 .banner{
    background: url(https://mobirise.com/extensions/appamp/assets/images/02.jpg) no-repeat center center;
    background-size: cover;
    padding: 100px;
    /* width: 100%;
    height: 100%; */
    position: relative;
    z-index: 1;
} 
.banner::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.329);
    width: 100%;
    height: 100%;
    z-index: -1;
    

}


.banner-content h3{
    
        color: white;
        font-size: 35px;
        font-weight: 400;
    

}
.banner-content h1 {
    font-size: 90px;
    color: white;
    font-weight: 600;
    margin: 40px 0;
    text-shadow: black;
}
.button a {
    text-decoration: none;
    margin: 10px;
    padding: 22px 42px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    color: #807878;
}
.button a:hover{
    background: #000;
    transition: .6s;

}
/* pricing saction */
.pricing-saction{
    background: #d3dae4;
    margin: 50px 0;
    padding-bottom: 50px;
}
.title-content{

}
.title-content h1{
    padding-top: 50px;
    font-weight: 500;
}


.title-content h6 {
    margin-top: 18px;
    font-size: 12px;
    font-weight: 400;
}
.pricing-content-item{
    width: 31%;
    margin-right: 2.5%;
    background:white;
    margin-top: 50px;
    box-shadow:  3px 4px 30px 0 rgba(98, 120, 223,.2);
}
.pricing-content-item:nth-child(3){
    margin-right: 0;
}
.p-headings{
    border-bottom: 1px solid #acacac;
}
.p-headings:hover{
    background: #25a9e0;
    transition: .5s;
}

.p-headings h2{
    padding: 20px;
    font-weight: 00;
    font-size: 50px;

}
.p-headings h5{
    padding: 23px;
}
.p-headings h4 {
    padding: 23px;
    font-weight: 500;
}
.p-headings p{
    padding: 23px;
    font-size: 18px;
}

.p-headings span{
    font-size: 22px;
}
.p-content ul{
    margin: 20px;

}
.p-content ul li{
    
    line-height: 40px;
    list-style: none;
}
.p-content ul li a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #9e9e9e;
}
i{
    padding: 10px;
    color: #e79230;
}
.p-button a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 19px;
    margin-bottom: 20px;
    color:#5e5b5b  ;
    background-color: white;
    /* border: 1px solid; */
    border-radius: 5px;
    box-shadow: 4px 4px 30px 0 rgba(70, 131, 180, 0.418);

}
.p-button a:hover{
    background:#25a9e0 ;
    transition: .4s;
}
/* team */
.team{
    padding: 50px 0;
}
.team-title{
    margin-bottom: 75px;
}
.team-title {
    margin-bottom: 50px;
}
.members {
    width: 21%;
    margin-right: 2%;
    border: 4px double #ecab61 ;
    box-shadow: 4px 4px 15px 0 rgba(70, 131, 180, 0.26);
    
    
}

.members:first-child {
    margin-left:3%;
}
.members img{
    max-width: 100%;
    
    
    
}
.m-bio h4 {
    font-size: 17px;
    font-weight: 500;
    margin: 12px 10px;
}
.m-bio p {
    font-size: 12px;
    margin: 12px 10px;
}
.newslatter-saction {
    background: #f5f5f5;
    padding: 50px 0;
}
.mail {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 4px 4px 30px 0 rgba(228, 213, 9, .47);
}
.mail:focus{
    box-shadow: 4px 4px 30px 0 #e4d50978;
    border: 1px solid #e4d50978;


}
.newslatter-title h2 {
    margin: 65px;
    font-size: 34px;
    font-weight: 600;
}
.btn {
    width: 240px;
    height: 40px;
    margin: 14px;
    border-radius: 5px;
    background-color: #aa972c;
    border: 1px solid transparent;
    box-shadow: 4px 4px 30px 0 rgba(16, 22, 27, 0.171);
    
}
.btn:hover{
    background: rgb(243, 247, 14);
    border: 1px solid rgb(243, 247, 14) ;
    transition: .5s
}
.newslatter-title p{
     margin-top: 50px;
}
.why-choose-title h2{
    margin: 12px 0;

}
.choosing img {
    width: 417px;
    float: left;
    margin-right: 15px;
}
.choosing h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color:#646464;
}

.choosing p {
    font-size: 12px;
    margin-bottom: 15px;
    color: #686666;
}
/* testimonial */
.testimonial{
    background: #f5f5f5;
    padding: 100px 0;
}
.t-title span{
    font-size: 16px;

}
.t-title h2 {
    font-size: 45px;
    font-weight: 400;
    line-height: 150px;
}
.t-item{
    width: 31%;
    margin-left: 2%;
}
.t-user-content{
    background: #fff;
    padding: 50px;
    margin: 40px 0;
    box-shadow: 4px 4px 30px 0 rgba(70, 131, 180, 0.418);
    position: relative;
}
.t-user-content::after{
    content: "";
    position: absolute;
    left: 137px;
    top: 237px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 20px 0 20px;
    border-color: #fcfcfc transparent transparent transparent;
}

.t-user-content p{
    font-size: 15px;
    line-height: 1.9em;
    position: relative;

}
.t-user-content p::before {
    content: "\f10d";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: -6px;
    font-size: 61px;
    opacity: .1;
    width: 189px;
}
.t-user-img img {
    width: 60px;
    border: 6px solid #c4af29 ;
    float: left;
    margin-left: 70px;
    margin-right: 15px;
}

.user-bio {
    position: relative;
    top: 12px;
}
.user-bio h3 {
    font-size: 16px;
    font-weight: 500;
}
.user-bio p {
    font-size: 12px;
    margin: 5px;
}
/* contact us */
.mid-cont{
    max-width: 600px;
    margin: auto;
}
.c-title h3 {
    margin-top: 48px;
    font-weight: 500;
    font-size: 21px;
}
.c-title p {
    font-size: 16px;
    margin-top: 15px;
}
.fast {
    width: 520px;
    height: 35px;
    border-radius: 6px;
    margin-top: 40px;
    border: 2px solid transparent;
    box-shadow: 4px 4px 10px 0 rgba(70, 131, 180, 0.178);
}
.fast:focus-visible{  border: 2px solid rgb(0, 140, 255) ;}
.two {
    width: 250px;
    height: 35px;
    margin: 13px 5px;
    border-radius: 5px;
    border: 2px solid transparent;
    box-shadow: 4px 4px 10px 0 rgba(70, 131, 180, 0.192);
}
.three {
    width: 522px;
    border: 2px solid transparent;
    box-shadow: 4px 4px 20px 0 rgba(70, 131, 180, 0.185);
}
.footer-b {
    font-size: 17px;
    margin-top: 35px;
}
